Login please !

{{loginStatus}}

<form action="/" method="post">
    username:
    <input type="text" name="account" id="" value="" required> <br>
    password
    <input type="password" name="pw" id="" value="" required><br>
    <button type="submit">Enter</button>
</form>