<form action="/ask" method="post">
    question:
    <input type="text" name="qs" id="" value="" required> <br>
    <button type="submit">Enter</button>
</form>
<form action="/" method="get">
    <button type="submit">Ve trang chu</button>
</form>