<form style="margin:20px" action="/ask" method="post">
    <h1>question:</h1>
    <textarea name="qs" id="" cols="80" rows="5" required></textarea>
    <br>
    <button type="submit">Enter</button>
</form>