* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: whitesmoke;
  background: black;
}

header {
  display: flex;
  width: 90%;
  height: 10vh;
  margin: auto;
  align-items: center;
}

.logo {
  font-weight: 500;
  margin: 5px;
  font-size: 120%;
}

.logo-container {
  flex: 1;
}

.nav-links {
  justify-content: space-around;
  list-style: none;
  display: flex;
}

.nav-link {
  color: whitesmoke;
  font-size: 18px;
  text-decoration: none;
}

nav {
  flex: 1;
}

.presentation {
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 100vh;
  align-items: center;
}

.introduction {
  flex: 1;
}

.intro {
  font-family: "PT Serif", serif;
  overflow: hidden;
  border-right: 2px solid rgba(0, 0, 0, 0.87);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 5s steps(23, end), blink-caret 1s step-end infinite;
  font-size: 60px;
}

@keyframes typing {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes blink-caret {
  0%,
  100% {
    border-color: rgba(0, 0, 0, 0);
  }

  50% {
    border-color: rgba(0, 0, 0, 0.87);
  }
}

.intro-text {
  font-size: 40px;
  font-weight: 300;
}

.cover {
  flex: 1;
  overflow: hidden;
  height: 90vh;
}

.img-zoom {
  height: 100%;
  transition: transform 200ms linear;
}

.img-zoom:hover {
  transform: scale(1.25);
}

.cover img {
  height: 100%;
}

.cta {
  padding-top: 20px;
  margin-left: 100px;
}

.cta-select {
  border: none;
  background: #404040;
  color: #ffffff !important;
  font-weight: 200;
  padding: 20px;
  border-radius: 100px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}

.btn {
  border: none;
  background: #404040;
  color: #ffffff !important;
  font-weight: 200;
  padding: 5px;
  border-radius: 10px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  margin-top: 15px;
}

.btn:hover {
  color: white !important;
  font-weight: 700 !important;
  letter-spacing: 1px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, white);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, white);
  transition: all 0.3s ease 0s;
}

.cta-select:hover {
  color: white !important;
  font-weight: 700 !important;
  letter-spacing: 1px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, white);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, white);
  transition: all 0.3s ease 0s;
}

.progress {
  cursor: progress;
}

.text-none {
  text-decoration: none;
  color: whitesmoke;
  font-size: 120%;
}

.container {
  width: 100%;
  background-color: #ddd;
  border-radius: 100px;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.html {
  width: 50%;
  border-radius: 100px;
  background-color: grey;
}

.css {
  width: 50%;
  border-radius: 100px;
  background-color: grey;
}

.js {
  width: 30%;
  background-color: grey;
  border-radius: 100px;
}

.php {
  width: 20%;
  background-color: grey;
  border-radius: 100px;
}

.section-skills {
  width: 90%;
  margin: auto;
  align-items: center;
  border-radius: 100px;
  margin-bottom: 50px;
}

.personal-skills {
  font-size: 150%;
  margin: 30px;
  text-align: center;
}

.folio {
  font-size: 150%;
  text-align: center;
  margin-top: 25px;
}

.div-img-folio {
  width: 90%;
  margin: auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-bottom: 50px;
}
.gallery img {
  width: 100%;
}

.address {
  display: inline;
  flex: 1;
}

.follow {
  display: inline;
  flex: 1;
}

.sec-contact {
  display: flex;
  width: 60%;
  min-height: 40vh;
  margin: auto;
  margin-top: 15px;
}

.div-address {
  text-align: center;
  font-weight: 200;
  font-size: 120%;
}

.div-follow {
  text-align: center;
  font-weight: 200;
  font-size: 120%;
}

.content-address form {
  text-align: center;
  margin-top: 15px;
  font-size: 130%;
}

.fas {
  font-size: 18px;
}

.form-control {
  width: 150px;
  border-radius: 5px;
}

textarea {
  width: 175px;
  border-radius: 5px;
  height: 50px;
  margin-top: 10px;
}

.btn {
  cursor: pointer;
  font-size: 80%;
  font-weight: 400;
}

.sub-div-follow {
  margin-left: 50px;
  margin-top: 15px;
}

.icon-media {
  font-size: 200%;
  margin-top: -20px;
  text-decoration: none;
  color: whitesmoke;
}

.fab {
  margin: 30px;
  margin-left: 40px;
}

.thankyou {
  min-height: 5vh;
  text-align: center;
  margin: 20px;
}

.anim {
  opacity: 0;
}

@keyframes anim1 {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Buzz Out */
@-webkit-keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

.hvr-buzz-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-buzz-out:hover,
.hvr-buzz-out:focus,
.hvr-buzz-out:active {
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@media screen and (max-width: 1000px) {
  .presentation {
    flex-direction: column;
  }

  .introduction {
    margin-top: 3vh;
    margin-left: 10px;
  }

  .intro-text p {
    font-size: 25px;
  }

  .intro-text {
    margin-left: 18px;
  }

  .cta {
    margin-left: 115px;
    margin-bottom: 20px;
  }

  .cover img {
    height: 70%;
  }
}
